/* Image Spin*/

.spin {
    width: 120px;
    height: 120px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.spin:hover {
    -webkit-animation: spin 0.4s linear infinite;
    -moz-animation: spin 0.4s linear infinite;
    animation: spin 0.4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* End Spin CSS- */

body {
    /*This keeps scrollbar from resizing page*/
    margin-left: calc(100vw - 100%);
    background-image: url("img/debut_dark.png");
    background-attachment: fixed;
    background-repeat: repeat;
    color: white;
    font-size: 24px;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
}

h3 {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 20%;
    border-radius: 10px;
}

h3 > a {
    color: #34c3f1;
    text-decoration: underline;
}

h3 > a:focus,
h3 > a:hover {
    color: white;
}

h4 {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    line-height: 130%;
    text-align: center;
    color: white;
    border-radius: 10px;
}

a {
    font-family: Orbitron;
}

span {
    font-size: 70px;
    left: 7px;
    margin-top: -4px;
}

.usrOn {
    color: lime;
}

.usrOff {
    color: #d40000;
}

.rowMargins {
    margin-bottom: 10px;
    margin-top: 10px;
}

.tab-content .row {
    border-bottom: 4px #686098 solid;
}

.btnEdit {
    margin-top: 37px;
    margin-bottom: 37px;
}

.noExist .col-md-5 h3 {
    font-family: Orbitron;
}

.col-md-5 > img {
    border-radius: 10px;
}

.col-md-7 > img {
    opacity: 0.5;
    z-index: -1;
    border-radius: 10px;
    max-height: 300px;
}

.navbar {
    background-image: url("img/debut_dark.png");
    border-top: 1px solid #744f86;
    padding-top: 5px;
    padding-bottom: 5px;
}


/*Pretty cool way to select every child after the first*/


/*Slightly confused as this seems to cound img as 1st child?*/

.col-md-7 h4:nth-child(n+2) strong {
    color: #9f86ff;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
}

#octocat {
    border-radius: 15px;
    opacity: 0.7;
    z-index: 1;
    background-color: white;
    left: 15px;
    bottom: 25px;
    position: fixed;
    width: 80px;
}

#octocat > img {
    width: 100%;
}

#octocat:hover {
    opacity: 1.0;
}

#upArrow {
    background-color: white;
    color: #9f86ff;
    opacity: 0.7;
    position: fixed;
    right: 15px;
    z-index: 1;
    width: 80px;
    height: 65px;
    border-radius: 20px;
    bottom: 25px;
}

#upArrow:hover {
    opacity: 1.0;
    color: #8a3bfc;
}

#myTabs .active a {
    background-color: #547ab3;
    color: floralwhite;
}

#myTabs a {
    color: floralwhite;
}


/*Bootstrap Media Queries*/


/* Large desktops and laptops */

@media (min-width: 1200px) {
    .col-md-5 > img {
        margin-right: -15px;
    }
    .col-md-7 > img {
        margin-left: -15px;
        max-height: 300px;
    }
    .outputWrap {
        position: absolute;
        top: 0;
        left: 15px;
        width: 500px;
    }
}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-5 > img {
        margin-right: -15px;
    }
    .col-md-7 > img {
        margin-left: -15px;
        max-height: 300px;
    }
    .outputWrap {
        position: absolute;
        top: 0;
        left: 15px;
        width: 500px;
    }
}


/* Portrait tablets and mdall desktops */

@media (min-width: 768px) and (max-width: 991px) {
    h3 {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .col-md-5 > img {
        width: 200px;
    }
    .outputWrap {
        position: absolute;
        top: 0;
        left: 15%;
        right: 15%;
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    h3 {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .col-md-5 > img {
        width: 200px;
    }
    .rowMargins {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .outputWrap {
        position: absolute;
        top: 0;
        left: 15%;
        right: 15%;
    }
}


/* Portrait phones and mdaller */

@media (max-width: 480px) {
    h4 {
        padding: 0;
        line-height: 100%;
    }
    .col-md-5 > img {
        width: 50%;
    }
    .outputWrap {
        left: 10%;
        right: 10%;
    }
}


/* End media query*/
